# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj.user
*.suo

# =========================
# Build folders
# =========================
x64/
Debug/
Release/
build/

# =========================
# Compiled / binaries
# =========================
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk

# =========================
# CMake (if you add later)
# =========================
CMakeFiles/
CMakeCache.txt

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db